.Toastify__toast {
  --at-apply: shadow-md;

  background-color: var(--rax-elements-bg-depth-2);
  color: var(--rax-elements-textPrimary);
  border: 1px solid var(--rax-elements-borderColor);
}

.Toastify__close-button {
  color: var(--rax-elements-item-contentDefault);
  opacity: 1;
  transition: none;

  &:hover {
    color: var(--rax-elements-item-contentActive);
  }
}
