name = "deployment-builder"
main = "build-worker.ts"
compatibility_date = "2025-03-28"
compatibility_flags = ["nodejs_compat"]

# KV Namespaces
[[kv_namespaces]]
binding = "DEPLOYMENT_KV"
id = "a2a1d794dea14ba2b198f01c1774ae23"
preview_id = "6730ca88ddd74e35bfedef8b9fe3769b"

[[kv_namespaces]]
binding = "BUILD_CACHE"
id = "a0cd0195e7774b29971c017a56676bcf"
preview_id = "f06592770b684ceeae009af400d5b751"

# R2 Bucket
[[r2_buckets]]
binding = "DEPLOYMENT_R2"
bucket_name = "deployments"
preview_bucket_name = "deployments-preview"
